.logo-text {
    -fx-text-fill: #5208e8;
}

.login-hbox-border {
    -fx-border-radius: 8px;

    -fx-padding: 15px;

    -fx-background-color: #F0F2F5;
    -fx-background-radius: 8px;

}

.white-pane {
    -fx-background-color: #ffffff;
}

.box-border {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.box2-border {
    -fx-border-radius: 8px;
    -fx-background-radius: 30px;
    -fx-background-color: #5208e8;
    -fx-font-family: "Inter";
    -fx-font-weight: 700;
    -fx-font-size: 10px;
}

.btn-login:hover {
    -fx-font-weight: bold;
    -fx-background-color: #2b39a1;

    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.link-signup:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #2b39a1;
    -fx-underline: true;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 30, 0, 0, 10);
}

.stack-pane {
    -fx-background-color: #F0F2F5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #DCDCDC;
    -fx-border-width: 1;
}
.text-field, .password-field{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11px;
    -fx-background-radius: 20px;
    -fx-border-color: transparent;
}

.text-field .prompt-text, .password-field .prompt-text {
    -fx-text-fill: #999999;

}

.text-field:focused, .password-field:focused {
    -fx-background-color: white;
    -fx-border-color: #DCDCDC;
    -fx-border-width: 1;
}

.error-label {
    -fx-text-fill: #ff3333;
    -fx-font-family: "Roboto";
    -fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-visibility: hidden;
}