/* Màu nền tổng thể cho app (tạo cảm giác nổi bật cho thẻ chính) */
.root-pane {
    -fx-background-color: white;
}

/* Khối màu trắng chứa toàn bộ nội dung (Card) */
.card {
    /*-fx-background-color: #FFFFFF;*/
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 20, 0, 0, 5);
    -fx-padding: 40px;
}

/* Tiêu đề chính */
.title-label {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #112A46;
}

/* Đoạn text mô tả nhỏ */
.subtitle-text {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: #64748B;
    -fx-line-spacing: 3px;
}

/* Nhãn "EMAIL ĐỒNG NGHIỆP" */
.section-label {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #64748B;
}

/* Ô nhập liệu */
.text-field-custom {
    -fx-background-color: #F8FAFC;
    -fx-background-radius: 8px;
    -fx-border-color: #E2E8F0;
    -fx-border-radius: 8px;
    -fx-padding: 10px 15px;
    -fx-font-size: 15px;
    -fx-text-fill: #334155;
}

/* Hiệu ứng khi click vào ô nhập liệu */
.text-field-custom:focused {
    -fx-border-color: #314CA3;
    -fx-background-color: #FFFFFF;
}

/* Nút "Gửi lời mời" */
.submit-button {
    -fx-background-color: #314CA3;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 12px 20px;
    -fx-cursor: hand;
}

.submit-button:hover {
    -fx-background-color: #263c85;
}

/* Hyperlink quay lại */
.back-link {
    -fx-text-fill: #314CA3;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Bỏ viền gạch ngang mặc định của JavaFX khi focus */
    -fx-padding: 0;
}

/*.back-link:hover {*/
/*    -fx-underline: true;*/
/*}*/
.link {
    -fx-background-color: aliceblue;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 12px 20px;
    -fx-cursor: hand;
}
.link:hover{
    -fx-background-color:#99CCFF ;
}
.icon-container {
    -fx-pref-width: 45px;      /* Cố định chiều rộng của StackPane */
    -fx-pref-height: 40px;     /* Cố định chiều cao của StackPane */

    /*-fx-border-color: #314CA3; !* Màu viền *!*/
    /*-fx-border-width: 2px;     !* Độ dày viền *!*/
    -fx-background-radius: 8px;    /* Bo góc */
    -fx-padding: 6px;          /* Khoảng cách từ viền tới icon bên trong */
    -fx-background-color: aliceblue;

    /* Căn giữa icon bên trong StackPane (nếu cần) */
    -fx-alignment: center;
}