
.root {
    -fx-font-family: "Segoe UI", sans-serif;
}
.root-container {
    -fx-background-color: #f7f9fc;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.03), 10, 0, 0, 5);
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #0c1c45;
}
.description {
    -fx-font-size: 13px;
    -fx-text-fill: #616e8e;
    -fx-background-position: center;
    -fx-line-spacing: 2px;
}

.input-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #818ba5;
}
.input-group {
    -fx-background-color: white;
    -fx-border-color: #e5e9f2;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 0 10;
}

.input-group .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #b3bccf;
    -fx-text-fill: #0c1c45;
    -fx-font-size: 13px;
}

.input-group .email-icon {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-opacity: 0.6;
}
.primary-button{
    -fx-background-color: #5208e8;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.primary-button:hover {
    -fx-text-fill: white;
    -fx-background-color: #2b39a1;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}
.back-link {
    -fx-font-size: 12px;
    -fx-text-fill: #4b62b1;
    -fx-border-color: transparent;
}
.back-link:hover {
    -fx-text-fill: #3b5bdb;
}
.back-icon {
    -fx-background-position: right;
    -fx-pref-width: 12px;
    -fx-pref-height: 12px;
}
.close-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #99a3ba;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-font-weight: bold;
}

.close-button:hover {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
}
.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #3498db;
    -fx-font-size: 28px;
    -fx-cursor: hand;
    -fx-padding: -5 0 0 0;
    -fx-font-weight: bold;
}

.back-button:hover {
    -fx-background-color: #304cb8;
    -fx-text-fill: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}
.header-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}