.main-container {
    -fx-background-color: white;
}

.header-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #3f51b5;
    -fx-font-size: 20px;
    -fx-cursor: hand;
}

.main-title {
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-text-fill: #1a237e;
    -fx-padding: 10 0 10 0;
}

.sub-title {
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 13px;
}

.form-card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 15, 0, 0, 10);
    -fx-margin: 20;
}

.input-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #3f51b5;
}

.input-field {
    -fx-background-color: transparent;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8;
    -fx-padding: 0 40 0 15;
}

.input-field:focused {
    -fx-border-color: #3f51b5;
}

.eye-button {
    -fx-background-color: transparent;
    -fx-text-fill: #bdc3c7;
    -fx-cursor: hand;
}

.strength-bar {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 2;
}

.strength-bar.active {
    -fx-background-color: #3f51b5;
}

.helper-text {
    -fx-font-size: 11px;
    -fx-text-fill: #7f8c8d;
    -fx-italic: true;
}

.error-text {
    -fx-font-size: 11px;
    -fx-text-fill: #e74c3c;
}

.security-footer {
    -fx-opacity: 0.5;
}

.security-footer Label {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}
.primary-button{
    -fx-background-color: #5208e8;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.primary-button:hover {
    -fx-text-fill: white;
    -fx-background-color: #2b39a1;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}
.back-button:hover {
    -fx-background-color: #304cb8;
    -fx-text-fill: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}