.grey_color{
    -fx-background-color: #F5F5F5;
}

.blue_color{
    -fxbackground-color: #EAF6FF;
}

.white_pane{
    -fx-background-color: #FFFFFF;
}

.right_border{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #ccc;
}

.bottom_border{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
}


.toggle-button{
    -fx-font-family: "System";
    -fx-text-fill: #black;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-opacity: 0.5;
}
.toggle-button:hover{
    -fx-background-color: #eef0ff;
    -fx-text-fill: #5208e8;
    -fx-border-color: transparent #5208e8 transparent transparent;
    -fx-border-width: 0 3 0 0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-opacity: 1.0;
}
.toggle-button:hover .label{
    -fx-font-weight: bold;
    -fx-text-fill: #5208e8;
}

.toggle-button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.sidebar-button-active {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #eef0ff;
    -fx-text-fill: #5208e8;
    -fx-font-weight: bold;
    -fx-opacity: 1.0;
    -fx-border-color: transparent #5208e8 transparent transparent;
    -fx-border-width: 0 3 0 0;
    -fx-mouse-transparent: true; /* Chuột bấm vào sẽ không có tác dụng gì */
    -fx-cursor: default;
}

.sidebar-button-active.text{
    -fx-text-fill: #5208e8;
    -fx-font-weight: bold;
}

.border{
    -fx-background-radius: 15;    /* Bo góc cho phần nền */
    -fx-border-radius: 15;        /* Bo góc cho đường viền */
}

.breadcrumb-prev {
    -fx-opacity: 0.4;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
    -fx-underline: false;
}

.breadcrumb-current {
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
    -fx-text-fill: #5208e8;
    -fx-underline: false;
}

.breadcrumb-prev:hover{
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
    -fx-text-fill: #5208e8;
    -fx-underline: false;
}

.name_task{
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.transparent_border_text_field{
    -fx-background-color: transparent;
}

