
target/
!.mvn/wrapper/maven-wrapper.jar
# Lưu ý: Các dòng !**/target/ bên dưới thường không cần thiết
# trừ khi bạn có cấu trúc đặc biệt. Nên để target/ ở đầu là đủ.


.idea/
*.iws
*.iml
*.ipr
/out/
/gen/
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


.vscode/


.DS_Store
Thumbs.db