# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# Maven
# ========================
target/
out/

# ========================
# Logs
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Env (nếu có sau này)
# ========================
.env